/* Statistics.css */
.expandable-section .content {
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.container {
  width: 100%;
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* Large screens */
@media (min-width: 1200px) {
  .container {
    padding: 30px;
  }
  .ant-alert,
  .ant-spin {
    font-size: 22px;
  }
}

/* Medium screens */
@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    padding: 25px;
  }
  .ant-alert,
  .ant-spin {
    font-size: 20px;
  }
}

/* Small screens */
@media (max-width: 767px) {
  .container {
    padding: 15px;
  }
  .ant-alert,
  .ant-spin {
    font-size: 18px;
  }
}

.chart {
  margin: 20px 0;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: -webkit-fill-available;
}

.ant-spin {
  display: block;
  margin: 0 auto;
}

.ant-alert {
  font-size: 16px;
}
