.MuiTab-textColorInherit.Mui-selected {
    opacity: 1;
    background-color: #343a40 !important;
}
/* .MuiTab-root {
    padding: 6px 12px;
    overflow: hidden;
    position: relative;
    font-size: 0.875rem;
    max-width: 264px;
    min-width: 72px;
    box-sizing: border-box;
    min-height: 48px;
    text-align: center;
    flex-shrink: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    white-space: normal;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    background-color: #860007 !important;
    color: white !important;
    transition: all 0.3s ease-in-out !important;
} */
/* .MuiTab-root:hover {
    color: white !important;
    text-decoration: none;
    opacity: 1;
    background-color: #e6000b !important;
} */
.MuiTab-fullWidth {
    transition: all 0.3s ease-in-out;
}

.MuiTab-fullWidth:hover {
    color: white !important;
    text-decoration: none;
    opacity: 1;
    background-color: #e6000b !important;
}

.PrivateTabIndicator-colorSecondary-22 {
    background-color: transparent !important;
}

.MuiTab-fullWidth {
    flex-grow: 0;
    max-width: none;
    flex-basis: 0;
    flex-shrink: 0;
    background-color: #860007 !important;
}

.MuiTab-textColorInherit {
    color: inherit;
    opacity: 1 !important;
}