.frame {
  background-color: #036 !important;
  border-radius: 19px;
  border: 2px solid #343a40 !important;
  padding: 15px;
  font-size: 15px !important;
  font-weight: bold !important;
    /* Background image only on the right */
    /* background: linear-gradient(to left, transparent 40%, #e9e8e8 80%),
    url('../Assets/2023-05-02 15-20-54.654-home-slide-d-_1920x800.jpeg'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* Ensure proper layering for text */
  position: relative;
  color: #fff;
  border-color: #fff !important;
}